<% if(pagination.totalResults === 0){%>
    <p class="lead text-secondary">
        <%= __('No results') %>
    </p>
<%}else{%>
<div class="d-inline-flex flex-wrap justify-content-between align-items-center w-100 py-2 px-3">
    <div>
        <p>
            <% if(pagination.from <= pagination.total){%>
                <%= __('From') %> <%= pagination.from %> <%= __('to') %> <%= pagination.to %>
                <% if(pagination.totalResults !=''){%>
                    <br><b> <%= __('Results') %> <%= pagination.totalResults %></b>
                <%}%>
                <%= __('Records Total') %> <b><%= pagination.total %></b>
            <%}%>
        </p>
    </div>
    <div>
        <% if(pagination.totalPages > 1){ %>
            <nav class="border-0" aria-label="page_pagination">
                <ul class="pagination">
                    <li class="page-item">
                        <% if(pagination.prev){ %>
                            <a class="page-link btn" href="<%= pagination.prev %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        <% }else{ %>
                            <span class="page-link">
                                <span aria-hidden="true" class="text-secondary">&laquo;</span>
                            </span>
                        <% } %>
                    </li>
                    <% pagination.links.forEach(link =>{ %>

                        <li class="page-item <% if(link.active){ %> active <% } %>">
                            <% if(link.url){ %>
                                <a class="page-link active btn" href="<%= link.url %>"><%= link.rel %></a>
                            <% }else { %>
                                <span class="page-link"><%= link.rel %></span>
                            <% } %>
                        </li>
                    <% }); %>
                    <li class="page-item">
                        <% if(pagination.next){ %>
                            <a class="page-link btn" href="<%= pagination.next %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        <% }else{ %>
                            <span class="page-link">
                    <span aria-hidden="true" class="text-secondary">&raquo;</span>
                </span>
                        <% } %>

                    </li>
                </ul>
            </nav>
        <% } %>
    </div>
</div>
<%}%>
